<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    


    <title>Take Attendance - Face Recognition Based Attendance System</title>
  </head>
  <body class="bg-light d-flex flex-column min-vh-100">
    <header class="container mt-3 mb-5 text-center">
      <h1 class="display-4">Face Recognition Based Attendance System</h1>
    </header>

    {% if mess %}
    <p class="text-center fs-4 text-danger">{{ mess }}</p>
    {% endif %}

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <a class="nav-link text-white" href="/add">Add User</a>
        <a class="nav-link text-white" href="/start">Take Attendance</a>
        <a class="nav-link text-white" href="/admin">Admin</a>
      </div>
    </nav>
    <!-- End of Navigation bar -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
          <h2 class="display-6 mb-4">Today's Attendance</h2>
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">S No</th>
                    <th scope="col">Name</th>
                    <th scope="col">ID</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                <!-- {% for i in range(len(rows)) %}
                  {% if rows[i] is not None %} -->
                  {% if l %}
                  {% for i in range(l) %} 
                  <!-- <tr>
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ names[i]['Name']}}</td>
                    <td>{{ rolls[i]['Roll']}}</td>
                    <td>{{ dates[i]['Date']}}</td>
                    <td>{{ times[i]['Time']}}</td>
                    <td>
                      <a href="{{ url_for('delete', Roll=rolls[i]) }}" class="btn btn-danger">Delete</a>
                      <a href="{{ url_for('update_record', Roll=str(rolls[i])) }}" class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ rolls[i] }}">Edit</a>
                    </td>
                  </tr>
                  <!-- Modal 
                  <div class="modal fade" id="editModal{{ rolls[i] }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="editModalLabel">Edit Record</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="{{ url_for('update_record', Roll=str(rolls[i])) }}" method="POST">
                            <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" name="name" value="{{ names[i] }}">
                            </div>
                            <div class="form-group">
                              <label for="roll">Roll</label>
                              <input type="text" class="form-control" id="roll" name="roll" value="{{ rolls[i] }}">
                            </div>
                            <div class="form-group">
                              <label for="time">Time</label>
                              <input type="text" class="form-control" id="time" name="time" value="{{ times[i] }}">
                            </div>

                            <div class="form-group">
                              <label for="date">Time</label>
                              <input type="text" class="form-control" id="date" name="time" value="{{ date[i] }}">
                            </div>

                            <button type="submit" class="btn btn-primary">Save Changes</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                   Check if row is not None before accessing its properties                   
                  </tbody>
                  </table>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div> -->
                  <tbody>
                    {% for row in students %}
                    <tr>
                      <td>{{ names[i]['Name']}}</td>
                      <td>{{ rolls[i]['Roll']}}</td>
                      <td>{{ dates[i]['Date']}}</td>
                      <td>{{ times[i]['Time']}}</td>
                    <td>
                        <a href="/update/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                        <a href="/delete/{{ row.0 }}" onclick="return confirm('Are Sure Want To Deleted ?')" class="btn btn-danger btn-sm">Delete</a>
                        <a href="/delete/{{Roll=rolls[i]}}" onclick="return confirm('Are Sure Want To Deleted ?')" class="btn btn-danger">Delete</a>
                        <a href="/update_record/{{Roll=rolls[i]}}"  class="btn btn-primary" data-toggle="modal" data-target="#editModal{{ rolls[i] }}">Edit</a>
                      </td>
                    </td>
                </tr>
            
            
                    <!-- Enter New Student Modal -->
                    <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                   
                                <div class="modal-header">
                                    <h5 class="modal-title text-primary" style="align-content: center;">Update Student Details</h5>    
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  
                
                                <div class="modal-body">
                                    
                                    <form action="{{ url_for('update')}}" method="POST">
                                        <input type="hidden" name="id" value="{{row.0}}">
                                        <div class="form-group">
                                          <label>Full Name</label>
                                          <input value="{{row.1}}" type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter Full Name">
                                        </div>
                
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input value="{{row.2}}" type="text" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email">
                                        </div>
                
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input value="{{row.3}}" name="phone" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number">
                                          </div>
                
                                          <button type="submit" class="btn btn-success mb-2">Update</button>
                                     
                                      </form>
                
                
                                </div>
                            </div>
                        </div>
                
                    </div>
                
                
                    <!-- End of Edit Student Modal -->
            
            
            
            
                    {% endfor %}
                </tbody>
            
            </table>
                        </div>
                        <!-- Content ends here-->
            
            
                        <div class="col-sm-2"></div>
            
                    </div>
                </div>
            
             <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
            </body>
            </html>






















    <footer class="text-center py-3 bg-dark text-white">
      <p>&copy; 2023 Abdelrahman Khaled. All rights reserved.</p>
  </footer>

           <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybB3S3InbFzY3qczAfD5f/6X5I9Njnwo6U4A6S4E6NMlW6y1D" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>